</html>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Database</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">
    <head><link href="/static/tables.css" rel="stylesheet"></head>
</head>

<body style="font-family:Montserrat">
    <div>
        <h1 style="text-align:center">VEHICLE DATABASE</h1>
    </div>
    
    <div class="up" style="text-align:center">
        <h3><a href="/">Back to Home</a></h3>
        <h4><a href="{{ route }}">Back to {{ heading }}</a></h4>
        <p>RESULTS</p>
    </div>

    <div class="container">
        <table>
            <tr>
                {% for k in tableheadings %}
                <th>{{ k }}</th>
                {% endfor %}
            </tr>

            {% for i in result %}
            <tr>
                {% for j in i %}
                <td>{{ j }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

</body>

</html>